body {
    background-color: #F5F5F5;
    font-family: "Inter", serif;
}

#root {
    padding: 44px 116px;
    text-align: center;
}

.app {
    width: 317px;
    border: 1px solid;
    border-radius: 8px;
    margin: 0 auto;
}

.avatar-img {
    width: 250px;
    height: 250px;
}

/* CONTACT SECTION STYLES */

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.contact-button {
    /* Shape */
    width: 115px;
    height: 34px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    /* Position */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    /* Spacing */
    padding: 9px 28.5px;
}

.contact-icon {
    width: 16px;
    height: 16px;
}

.icon-text {
    font-size: 14px;
    font-weight:500;
    margin: 0;
}

.email-button {
    background-color: #FFFFFF;
}

.mail-icon {
    color: #241e26;
}


.mail-text {
    color: #374151;
}

.linkedin-button {
    background-color: #297FE5;
}

.linkedin-text {
    color: #FFFFFF;
}

.linkedin-icon {
    color: #FFFFFF;
}